<div class="flex flex-col h-screen w-screen bg-gradient-to-br from-purple-950 via-purple-900 to-indigo-950 text-slate-100 font-sans">

  <!-- Header Settings flottant -->
  <div class="absolute top-0 left-0 z-50 p-4">
    <button (click)="showSettings = true"
            class="text-white text-3xl font-bold px-3 py-1 bg-transparent shadow-none hover:bg-white/10 active:scale-95 transition">
      ⚙️
    </button>
  </div>

  <!-- Main Content -->
  <div class="flex-1 overflow-y-auto">

    @if (activeTab === 'mana') {
      <div class="flex flex-col justify-center items-center px-4 pt-4 pb-20 h-full">
        <div class="text-3xl text-center m-2">Mana:
          <p class="mt-4">
          {{  mana | numberSuffix }}
          </p>
        </div>
        <div class="text-lg text-center mb-6">(MPS: {{  totalMPS |numberSuffix }})</div>

        <div class="flex flex-col justify-center items-center flex-grow w-full"
             (click)="triggerCast.emit()">
          <div class="w-64 h-64 bg-gradient-radial from-purple-500 to-purple-900 rounded-full border-4 border-purple-400 relative overflow-hidden shadow-lg">
            <div class="absolute bottom-0 left-0 w-full bg-blue-200/70 transition-all duration-300 ease-in-out"
                 [style.height.%]="crystalFillPercent"></div>
          </div>

          <span class="mt-6 text-base text-slate-300">{{ clickPerSecond }} CPS</span>
          <div class="text-base text-slate-300">Click Power: {{ manaPerClick | numberSuffix }}</div>

        </div>
      </div>
    }

    @if (activeTab === 'store') {
      <div class="flex flex-col h-full px-4 pt-4 pb-6 relative">
        <div class="text-center text-3xl font-semibold mb-6">🛒 Store</div>

        <div class="flex-1 overflow-y-auto space-y-4 w-full max-w-5xl mx-auto pb-4">
          @for (buy of buyables; track buy.name) {
            <div [ngClass]="mana >= buy.cost ? 'bg-purple-900 shadow-lg' : 'bg-purple-700 opacity-90'"
                 class="p-4 rounded-xl flex justify-between items-center transition-all">
              <div>
                <div class="font-semibold text-lg">{{ buy.name }}</div>
                <div class="text-sm">
                  {{ buy.count }} owned |
                  {{ buy.type === 'click' ? '+' + buy.clickBoost + ' click power' : (buy.mps | numberSuffix) + ' mana/sec' }}
                  <br>
                  | Cost: {{ getTotalBuyCost(buy) | numberSuffix }}
                </div>
              </div>

              <button (click)="buyItem.emit({ buyable: buy, multiplier: buyMultiplier })"
                      [disabled]="mana < getTotalBuyCost(buy)"
                      class="text-white rounded-xl text-base font-semibold px-6 py-4 transition-all
                     bg-purple-800 hover:bg-purple-600/90 disabled:opacity-40 disabled:cursor-not-allowed">
                Buy x{{ buyMultiplier }}
              </button>
            </div>
          }
        </div>

        <div class="sticky z-40 w-full mt-4">
          <div class="flex justify-center gap-10">
            <button (click)="setBuyMultiplier(1)"
                    [ngClass]="{
                      'bg-purple-600 text-white ring-2 ring-purple-200': buyMultiplier === 1,
                      'bg-purple-700 text-gray-300': buyMultiplier !== 1
                    }"
                    class="px-4 py-3 rounded-lg text-xl font-medium transition">
              x1
            </button>
            <button (click)="setBuyMultiplier(10)"
                    [ngClass]="{
                      'bg-purple-600 text-white ring-2 ring-purple-200': buyMultiplier === 10,
                      'bg-purple-700 text-gray-300': buyMultiplier !== 10
                    }"
                    class="px-4 py-3 rounded-lg text-xl font-medium transition">
              x10
            </button>
            <button (click)="setBuyMultiplier(100)"
                    [ngClass]="{
                      'bg-purple-600 text-white ring-2 ring-purple-200': buyMultiplier === 100,
                      'bg-purple-700 text-gray-300': buyMultiplier !== 100
                    }"
                    class="px-4 py-3 rounded-lg text-xl font-medium transition">
              x100
            </button>
          </div>
        </div>

      </div>
    }


    @if (activeTab === 'upgrades') {
      <div class="flex flex-col h-full px-4 pt-4 pb-6">
        <div class="text-center text-3xl font-semibold mb-6">🔧 Upgrades</div>

        <div class="flex-1 overflow-y-auto space-y-4 w-full max-w-5xl mx-auto">
          @for (upgrade of upgrades; track upgrade.name) {
            @if (showUpgrade(upgrade)) {
              <div [ngClass]="upgIsActive(upgrade) ? 'bg-purple-900 shadow-lg' : 'bg-purple-700 opacity-90'"
                   class="p-4 rounded-xl flex justify-between items-center transition-all">
                <div>
                  <div class="font-semibold text-lg">
                    {{ upgrade.name }} -
                    <span class="text-sm text-slate-300">{{ upgrade.cost }}</span>
                  </div>
                  <div class="text-sm text-slate-200">{{ upgrade.description }}</div>
                </div>

                <button (click)="buyUpgrade.emit(upgrade)"
                        [disabled]="!canBuyUpgrade(upgrade)"
                        class="text-white rounded-xl text-base font-semibold px-6 py-4 transition-all
                           bg-purple-800 hover:bg-purple-600/90 disabled:opacity-40 disabled:cursor-not-allowed">
                  Buy
                </button>
              </div>
            }
          }

          @if (!hasVisibleUpgrades()) {
            <div class="w-full text-center text-white italic mt-4">
              🧙‍♂️ Out of Stock — all upgrades purchased!
            </div>
          }
        </div>
      </div>
    }
    @if (activeTab === 'logs') {
      <div class="flex flex-col h-full px-4 pt-4 pb-4">
        <h3 class="text-3xl font-semibold mb-10 text-center">📜 Log</h3>

        <!-- Log scrollable -->
        <div class="flex-1 overflow-y-auto space-y-1 border border-white/10 rounded-xl p-3 bg-purple-800/20 text-sm">
          @for (entry of log; track entry) {
            <div> <span class="text-xl">{{ entry }}</span></div>
          }
        </div>

        <!-- Bouton aligné bas -->
        <button (click)="clearLog.emit()"
                class="mt-4 w-full bg-red-600 text-white py-3 rounded-xl hover:bg-red-700 transition">
          Clear Log
        </button>
      </div>
    }
  </div>

  <!-- Footer TabBar -->
  <div class="flex justify-around items-center bg-purple-950 p-3 border-t border-purple-700">
    <button (click)="activeTab = 'mana'"
            class="text-center flex-1 py-2 transition rounded-xl"
            [ngClass]="{
          'bg-purple-800/50': activeTab === 'mana',
          'bg-transparent': activeTab !== 'mana'
        }">
      <div class="text-2xl">🪄</div>
      <div class="text-sm">Mana</div>
    </button>

    <button (click)="activeTab = 'store'"
            class="relative text-center flex-1 py-2 transition rounded-xl"
            [ngClass]="{
          'bg-purple-800/50': activeTab === 'store',
          'bg-transparent': activeTab !== 'store'
        }">

      @if (availableBuyablesCount > 0) {
        <span class="absolute top-1 right-2 bg-pink-500 text-white text-xs font-bold px-2 py-0.5 rounded-full shadow-sm">
          {{ availableBuyablesCount }}
        </span>
      }


      <div class="text-2xl">🏪</div>
      <div class="text-sm">Store</div>
    </button>

    <button (click)="activeTab = 'upgrades'"
            class="relative text-center flex-1 py-2 transition rounded-xl"
            [ngClass]="{
          'bg-purple-800/50': activeTab === 'upgrades',
          'bg-transparent': activeTab !== 'upgrades'
        }">

      @if (availableUpgradesCount > 0) {
        <span class="absolute top-1 right-2 bg-pink-500 text-white text-xs font-bold px-2 py-0.5 rounded-full shadow-sm">
          {{ availableUpgradesCount }}
        </span>
      }

      <div class="text-2xl">📜</div>
      <div class="text-sm">Upgrade</div>
    </button>

    <button (click)="activeTab = 'logs'"
            class="text-center flex-1 py-2 transition rounded-xl"
            [ngClass]="{
          'bg-purple-800/50': activeTab === 'logs',
          'bg-transparent': activeTab !== 'logs'
        }">
      <div class="text-2xl">🔮</div>
      <div class="text-sm">Logs</div>
    </button>

  </div>

  @if (showSettings) {
    <!-- Clic en dehors ferme le modal -->
    <div class="fixed inset-0 bg-black/70 flex items-center justify-center z-50 p-2"
         (click)="showSettings = false">

      <!-- Empêche la fermeture si clic à l'intérieur -->
      <div class="bg-gradient-to-br from-purple-900 via-purple-950 to-indigo-950 text-white rounded-2xl p-6 shadow-2xl w-full max-w-xs mx-auto space-y-6"
           (click)="$event.stopPropagation()">

        <h2 class="text-3xl font-bold text-center mb-6 tracking-wide">Settings</h2>

        <button (click)="onResetConfirm()"
                class="w-full flex items-center justify-center gap-2 bg-red-500 text-white text-2xl font-semibold py-4 rounded-xl shadow hover:bg-red-700 active:scale-95 transition">
          <span>🔄</span>
          <span>Reset Game</span>
        </button>

        <button (click)="showSettings = false"
                class="w-full flex items-center justify-center gap-2 bg-purple-800 text-white text-xl font-medium py-3 rounded-xl shadow-md hover:bg-purple-700 active:scale-95 transition duration-200">
          <span>✖️</span>
          <span>Close</span>
        </button>
      </div>
    </div>
  }

</div>
